/*  Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Colors */
:root {
  --main-color: rgb(228, 123, 109);
  --second-color: #ffffff;
}
section {
  padding: 100px;
}

/* Home CSS */
#home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("a39dc9e60329c1e16fb6c2cc480596a3.jpg");
}

/* navigation bar css*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  background: rgba(228, 123, 109, 0.753);
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: 0.5s;
}
.logo {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgba(228, 123, 109, 0.664);
}

ul {
  display: flex;
}
ul li a {
  padding: 10px 22px;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: rgba(228, 123, 109, 0.582);
}
ul li a:hover {
  background: rgba(97, 44, 38, 0.493);
  color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.719);
}

/* home text css */
.home-text {
  max-width: 500px;
}
.home-text h1 {
  color: rgb(228, 123, 109);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  line-height: 5.5rem;
}

.home-text span {
  color: rgb(97, 44, 38);
}
.home-img {
  width: 500px;
  height: 500px;
}
.home-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  opacity: 0.8;
}
/* hire me button */
.home-text a {
  padding: 12px 34px;
  background: rgba(150, 81, 72, 0.712);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.719);
}
.home-text a:hover {
  background: rgba(228, 123, 109, 0.795);
  box-shadow: 0 10px 34px;
  color: rgb(255, 255, 255);
  box-shadow: 0 1px 4px rgba(255, 0, 0, 0.63);
}
/* social */
.social {
  position: absolute;
  display: flex;
  bottom: 8%;
  left: 144px;
}
.social i {
  margin-right: 24px;
  font-size: 24px;
  color: rgb(97, 44, 38);
}
.social i:hover {
  color: rgb(228, 123, 109);
}

/* heading */
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading h2 {
  color: rgb(97, 44, 38);
  border-bottom: 2.5px solid rgb(97, 44, 38);
  font-size: 1.8rem;
}
.heading p {
  color: rgb(97, 44, 38);
  margin-top: 0.5rem;
}
.about-content {
  display: flex;
  padding: 50px;
  justify-content: space-around;
  align-items: center;
  background-image: url("a39dc9e60329c1e16fb6c2cc480596a3.jpg");
}
.about-img {
  width: 300px;
  height: 200px;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  opacity: 0.8;
}
.about-text {
  width: 500px;
  justify-content: center;
  line-height: 1.5rem;
}
.about-text h1 {
  font-size: 1.5rem;
  color: rgb(97, 44, 38);
}
.about-text p {
  color: rgb(97, 44, 38);
  margin: 5px 0 24px;
  text-align: center;
}
.about-text a {
  padding: 12px 20px;
  background: rgba(150, 81, 72, 0.712);
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}
.about-text a:hover {
  background: rgba(228, 123, 109, 0.74);
  box-shadow: 0 10px 34px rgba(255, 27, 27, 0.767);
  color: rgb(255, 255, 255);
}
/* skills */
.skills-content {
  display: flex;
  padding: 100px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("a39dc9e60329c1e16fb6c2cc480596a3.jpg");
}

.skills-content .box {
  padding: 40px 20px;
  color: rgb(0, 0, 0);
  max-width: 320px;
  margin: 16px;
  text-align: center;
}

.box img {
  height: 45px;
}
.box h1 {
  font-size: 1.3rem;
}
.box p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}
.skills-content .box:hover {
  transform: translateY(-10px);
  background: rgba(150, 81, 72, 0.596);
  transition: 0.5s;
  box-shadow: 0 10px 34px rgba(170, 47, 47, 0.767);
}
.work-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2.5rem;
  background-image: url("a39dc9e60329c1e16fb6c2cc480596a3.jpg");
}
.work-text {
  max-width: 500px;
  color: rgb(97, 44, 38);
}
.work-text h1 {
  font-size: 1.5rem;
  color: rgb(97, 44, 38);
  line-height: 2.4rem;
  letter-spacing: 1px;
}
.work-text p {
  font-size: 1rem;
  color: rgb(97, 44, 38);
  line-height: 2rem;
  text-align: justify;
  margin: 5px 0 18px;
}
.work-text a {
  padding: 12px 24px;
  background: rgba(228, 123, 109, 0.562);
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}
.work-text a:hover {
  background: rgba(97, 44, 38, 0.705);
  box-shadow: 0 10px 34px rgba(255, 27, 27, 0.767);
  color: rgb(255, 255, 255);
}
.work-img {
  width: 220px;
  height: 400px;
}
.work-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
/* contact */
.heading.color h2 {
  color: rgb(97, 44, 38);
  border-bottom: 3px solid rgb(97, 44, 38);
  font-size: 1.8rem;
}
.color p {
  color: rgb(97, 44, 38);
}

#contact {
  background-image: url("a39dc9e60329c1e16fb6c2cc480596a3.jpg");
}
.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(97, 44, 38);
}
.contact-form {
  width: 360px;
  margin-top: 4rem;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  font-size: 13px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  margin-bottom: 12px;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
  color: rgb(97, 44, 38);
  letter-spacing: 1px;
}
.contact-form form textarea {
  resize: none;
  height: 200px;
}
.contact-button {
  max-width: 100px;
  font-weight: 600;
  background: rgb(228, 123, 109);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.copyright {
  padding: 20px;
  color: rgb(97, 44, 38);
  text-align: center;
}

/* making responsive */
@media (max-width: 991px) {
  nav {
    padding: 10px 50px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 60px;
    right: 100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: var(--second-color);
    transition: 0.5s ease;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu.active {
    right: 0;
  }
  nav ul li a {
    font-size: 35px;
    line-height: 80px;
    color: #fff;
  }
  .toggle {
    width: 40px;
    height: 40px;
    background: url("menu-regular-24 (1).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .toggle.active {
    background: url("x-regular-24.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  section {
    padding: 80px;
  }
  .home-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
    line-height: 4rem;
  }
  .home-img {
    width: 400px;
    height: 400px;
  }
  .social {
    left: 110px;
  }
  .heading h2 {
    font-size: 1.6rem;
  }
  .about-img {
    width: 250px;
    height: 400px;
  }
  .about-text,
  .work-text {
    width: 400px;
  }
  .about-text h1 {
    font-size: 1.3rem;
  }
  .about-text p {
    line-height: 1.5rem;
  }
  .work-img {
    width: 250px;
    height: 300px;
  }
}
@media (max-width: 871px) {
  section {
    padding: 50px;
  }
}
@media (max-width: 800px) {
  section {
    padding: 35px;
  }
}
/* for small devices */
@media (max-width: 360px) {
  section {
    padding: 35px;
  }
  #home {
    flex-direction: column;
  }
  .home-text {
    max-width: 400px;
    margin-top: 2rem;
  }
  .home-img {
    width: 345px;
    height: 400px;
  }
  .home-text h1 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
    line-height: 3rem;
  }
  .about-content,
  .work-content {
    flex-direction: column;
  }
  .about-text,
  .work-text {
    max-width: 280px;
  }
  .work-text h1 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .work-img {
    width: 200px;
    height: 280px;
    margin-top: 4rem;
  }
  .contact-content {
    flex-direction: column;
  }
  .contact-form {
    width: 300px;
  }
}
